[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.3.1"
black = "==19.3b0"

[packages]
python-dotenv = "==0.21.1"
pytz = "==2019.3"
pandas = "==0.25.3"
line-bot-sdk = "==1.15.0"

[requires]
python_version = "3.7"
